= form_for :book, form_action, class: 'form', **form_opts do
  - div class: 'form-group' do
    - label :title
    - text_field :title, class: 'form-control'

  - div class: 'form-group' do
    - label :author
    - text_field :author, class: 'form-control'

  - div class: 'controls' do
    - submit submit_label, class: 'btn btn-success'
