.row
  .col-6
    .card
      .card-header
        %p.lead
          = "Editing "
          %em= book.title
      .card-block

        - unless params.valid?
          .errors
            %em.text-danger There was a problem with your submission
            %ul
              - params.error_messages.each do |msg|
                %li.text-danger= msg

        = render partial: 'form'
