.row
  .col-6
    .card
      .card-header
        %p.lead Enter a New Book
      .card-block

        - unless params.valid?
          .errors
            %em.text-danger There was a problem with your submission
            %ul
              - params.error_messages.each do |msg|
                %li.text-danger= msg

        = render partial: 'form'

.row
  .col-8.offset-2
    .card
      #root

= javascript 'test.bundle'
